.div-all-t {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.img-d {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5
}

.image-product {
    width: 184px;
    height: 93%;
    -o-object-fit: cover;
    object-fit: cover;
}


.stars {
    margin-top: 7px;
    position: absolute;
    margin-left: 105px;
}


.star {
    color: #ccc;
    /* Empty star */
    font-size: 1.2rem;
}


.stars {
    display: flex;
    gap: 2px;
    margin-bottom: 10px;
}

.number-review {
    font-size: 12px;
    margin-left: 3px;
    margin-top: 10px;
}

.price-p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-top: 2px;
    /* position: absolute; */
}