@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&900display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.cont {
  position: relative;
  width: 850px;
  height: 570px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
}

.forbox {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  display: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.cont.actv .forbox {
  right: 50%;
}

.forbox.register {
  visibility: hidden;
}

.cont.actv .forbox.register {
  visibility: visible;
}

form {
  width: 100%;
}

.cont h1 {
  font-size: 36px;
  margin: -10px 0;
}

.inpbox {
  position: relative;
  margin: 30px 0;
}

.inpbox input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.inpbox input::placeholder {
  color: #888;
  font-weight: 400;
}

.inpbox i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  color: #888;
}

.forgot-link {
  margin: -15px 0 15px;
}

.forgot-link a {
  font-size: 14.5px;
  color: #333;
  text-decoration: none;
}

/* .button-1 {
  width: 40%;
  height: 48px;
  background: #3A6D8C;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
} */

/* .button-2 {
  width: 40%;
  height: 48px;
  background: #EAD8B1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-left: 30px;
} */

.cont p {
  font-size: 14.5px;
  margin: 15px 0;
}

.social-icons a {
  display: inline-flex;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  margin: 0 8px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.togbox {
  position: absolute;
  width: 100%;
  height: 100%;
}

.togbox::before {
  content: "";
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: #3A6D8C;
  border-radius: 150px;
  z-index: 2;
  transition: 1.8s ease-in-out;
}

.cont.actv .togbox::before {
  left: 50%;
}

.togpanal {
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.6s ease-in-out;
}

.togpanal.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}

.cont.actv .togpanal.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}

.togpanal .actv .togpanal.toggle-left {
  left: -50px;
  transition-delay: 0.6s;
}

.togpanal.toggle-right {
  right: -50%;
  transition-delay: 1.2s;
}

.cont.actv .togpanal.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}

.togpanal p {
  margin-bottom: 20px;
}

.togpanal .button {
  width: 160px;
  height: 46px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}

.alert {
  display: flex;
  align-items: center;
  background: #ffe6e6;
  /* Light red background */
  color: #d32f2f;
  /* Dark red text */
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
  border-left: 4px solid #d32f2f;
  /* Red left border */
  margin-top: 5px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* Slight shadow for depth */
}



.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}